
<div class="modal-container inner">
	<div class="modal-header">
		<h4 class="modal-title">Log in</h4>
	</div>
	
	<div class="modal-text">

		<form action="/login" method="post">
			<div [class]="'row gtr-uniform' + (isSync ? ' sync' : '')">
				<div class="col-6 col-12-xsmall">
					<app-field [field]="fieldLogin.email" key="email" [form]="formLogin"></app-field>
				</div>
				<div class="col-6 col-12-xsmall">
					<app-field [field]="fieldLogin.password" key="password" [form]="formLogin"></app-field>
				</div>
				<div class="col-12">
					<p *ngIf="(formSendState | async) === false">Form sending failed. Please retry later.</p>
					<button (click)="send()" class="button primary fit" [disabled]="!formLogin.valid"><i class="fas fa-cubes"></i> Login </button>
				</div>
				<div class="col-12">
					<button (click)="openRegisterModal()" class="button primary fit"><i class="fas fa-cubes"></i> Register </button>
				</div>
			</div>
		</form>
		<p>
			<a (click)="openLoginPopup(EAuthProvider.Google)" [href]="getLoginUrl(EAuthProvider.Google)" target="popup"><i class="alt fab fa-google"></i></a>
			<a (click)="openLoginPopup(EAuthProvider.Github)" [href]="getLoginUrl(EAuthProvider.Github)" target="popup"><i class="alt fab fa-github"></i></a>
		</p>
	</div>
	<div class="modal-footer">
		<div class="modal-close">
			<button type="button" class="btn btn-outline-dark" (click)="close()">Close</button>
		</div>
	</div>
</div>

<button class="close no-border no-hover" (click)="close()">Close</button>
