
<div class="modal-container inner">
	<div class="modal-header">
		<h4 class="modal-title">Register</h4>
	</div>
	
	<div class="modal-text">

		<form action="/register" method="post">
			<div [class]="'row gtr-uniform' + (isSync ? ' sync' : '')">
				<div class="col-6 col-12-xsmall">
					<app-field [field]="fieldRegister.email" key="email" [form]="formRegister"></app-field>
				</div>
				<div class="col-6 col-12-xsmall">
					<app-field [field]="fieldRegister.password" key="password" [form]="formRegister"></app-field>
				</div>
				<div class="col-6 col-12-xsmall">
					<app-field [field]="fieldRegister.password2" key="password2" [form]="formRegister"></app-field>
				</div>
				<div class="col-12">
					<p *ngIf="(formSendState | async) === false">Form sending failed. Please retry later.</p>
					<button class="button primary fit" [disabled]="!formRegister.valid"><i class="fas fa-cubes"></i> Confirm </button>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<div class="modal-close">
			<button type="button" class="btn btn-outline-dark" (click)="close()">Close</button>
		</div>
	</div>
</div>

<button class="close no-border no-hover" (click)="close()">Close</button>
