<div *ngFor="let article of allItems" id="blog">
	<hr class="major" />
	<article>
		<header class="major">
			<a [routerLink]="['/blog', article.title]" routerLinkActive="active">
				<h1>{{article.title}}</h1>
			</a>
		</header>
		<showdown [value]="article.summary"></showdown>
	</article>
</div>
<hr class="major" />
<ul *ngIf="pager.pages && pager.pages.length" class="pagination">
	<li [ngClass]="{disabled:pager.currentPage === 1}">
		<span class="button small enabled" (click)="setPage(1)">First</span>
	</li>
	<li [ngClass]="{disabled:pager.currentPage === 1}">
		<span class="button small enabled" (click)="setPage(pager.currentPage - 1)">Previous</span>
	</li>
	<li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
		<span class="button small enabled" (click)="setPage(page)">{{page}}</span>
	</li>
	<li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
		<span class="button small enabled" (click)="setPage(pager.currentPage + 1)">Next</span>
	</li>
	<li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
		<span class="button small enabled" (click)="setPage(pager.totalPages)">Last</span>
	</li>
</ul>

<!-- <pagination-controls (pageChange)="pagerStart = $event"></pagination-controls> -->