header {
	margin-left: auto;
	margin-right: auto;
}

.pagination, showdown, #blog, pagination-controls {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
ul.pagination {
	display: block;
}