<h1>LEGAL NOTICE OF THE WEBSITE</h1>
<p>
  This website has been developed and published by Azkali & GerkinDev
</p>
<p>
  Contact e-mail: e-make@ithoughts.io
</p>
<p>
  Head of publication: Azkali Manad
</p>
<p>
  The hosting has been performed by GerkinDev </p>
  <h1>1. Conditions of Use for the Website</h1>
<p>

  Any person (hereinafter referred to as the “Internet User”) using/consulting the website accessible at the following
  URL address or any URL address redirecting to this address: www.e-make.ithoughts.io (hereinafter referred to as the
  “Website”) acknowledges that he/she has read and understood the present legal notice.
  Access to the Website is granted on the understanding that these conditions are accepted without reserve by the
  Internet User.
  
  The Internet User accepts that all elements presented on the Website are protected by copyright and/or other
  forms of industrial property rights; the Internet User undertakes to fully respect the rights cited above.
  E-Make does not warrant the Website to be fit for any specific Internet User requirement or particular purpose. All
  information contained in the Website is provided on an "as is" basis, without guarantee of any sort. E-Make does not
  offer any implicit guarantee as to the quality, topicality, ownership or absence of counterfeiting for any of the
  information presented on the Website.
  
  E-Make can in no way be held responsible for errors or omissions regarding the Website's content or resulting from
  use of the information contained in the Website, nor for access speeds and conditions, service non-availability or
  interruption, nor for any damage occasioned to the Internet User directly or indirectly consequent to using the
  Website or the information contained therein.
  
  Internet Users who supply information (other than personal information) to E-Make hereby grant to E-Make all
  transferable rights relating to said information and authorize E-Make to use said information as best it sees fit.
  Internet Users warrant that the information provided does not infringe the intellectual property rights of third
  parties nor any other applicable legislation.
  
  E-Make may terminate or modify the nature of the services and/or conditions governing the use of the Website at any
  time and without notice being required.
  
  The Internet User declares that she or he is aware of the technical risks inherent in the Internet network and
  acknowledges that no site can be kept safe from intrusion by unauthorized third parties and may become harmed
  as a result; that information circulating on the Internet is susceptible to interception by third parties and that under
  these circumstances E-Make is unable to guarantee that Internet Users will not be victim of such actions.
  
  If the Website contains hyperlinks to websites under the control of third parties: E-Make has no control over these
  sites and cannot accept any responsibility for their content (notably for their truthfulness, topicality, quality,
  operation, comprehensiveness and relevance) nor for the use to which they may be put. Insertion of said hyperlinks
  in no way implies that E-Make approves of the elements contained in these sites.
  
  Use of the Website, and these terms and conditions of use, are governed by the laws of France. The Commercial
  Court at Nimes shall be the only competent tribunal before which disputes may be heard where no amicable
  agreement between E-Make and the Internet User is possible.
</p>
  
  <h1>2. Data Protection</h1>

<p>

  E-Make may gather information about the Internet User, such as name, job title, professional contact details, email
  address, etc., in order to assist the Internet User with his or her request (such as registering for a seminar, setting up
  a meeting, request for documentation/information, etc.) and to help E-Make gain a better knowledge of the Internet
  User, contact the Internet User, or ensure that the Internet User is able to benefit from any special promotions or
  communications.
  
  Whenever the Internet User completes a questionnaire/form on the Website, or whenever the Internet User sends
  an email to E-Make:
  
  • the Internet User is informed whether his or her answers are voluntary or compulsory in nature;
  • the information provided is intended for use by E-Make and its affiliates in their customer/contacts data files.
  • E-Make warrants that all personal data submitted via the Website will be treated in accordance with Data
  Protection Act 1998
  The Internet User can request a copy of its personal data that E-Make hold, or ask E-Make to remove or correct
  inaccurate data in accordance with Data Protection Act 1998.
  These rights may be exercised by writing to the contact email address.
  
</p>
  
  <h1>3. Cookies</h1>
<p>

  Cookies are text files placed on the computer to help a website analyze how users use the site.
  The Website use such cookies to identify and track the Internet User in order to analyze his/her use of the Website,
  to compile reports on Website activity, and to offer the Internet User personalized information and follow up.
  Furthermore, the Website uses Google Analytics, a web analytics service provided by Google, Inc. (“Google”).
  Google Analytics uses cookies. The information generated by the cookie about the Internet User use of the Website
  (including his/her IP address) will be transmitted to and stored by Google on servers in the United States. Google
  will use this information for the purpose of evaluating the Internet user use of the Website, compiling reports on
  website activity for E-Make and providing other services relating to Website activity and internet usage. Google may
  also transfer this information to third parties where required to do so by law, or where such third parties process
  the information on Google's behalf. Google will not associate the Internet User IP address with any other data held
  by Google.
  
  By default, most web browsers (such as Internet Explorer, Mozilla Firefox, Google Chrome, Safari or Opera) permit
  the use of cookies. The Internet User can set his/her web browser to manage cookies or to prevent the Website for
  placing cookies on his/her computer. However, if the Internet User chooses not to accept cookies, he/she may not
  be able to take full advantage of the Website.
</p>
  
  <h1>4. Intellectual Property</h1>

<p>
  The layout and content of the Website together constitute a work protected by intellectual property rights.
  Similarly, the design, structure, navigation and compilation of all or part of the elements comprising the Website are
  protected by the applicable French and international laws governing intellectual property.
  
  Text, illustrations, graphics, images, appellations, logos, slogans and brand names, whether registered or not,
  depicted on the Website, are subject to industrial and/or intellectual property rights and are the exclusive property
  of E-Make (unless otherwise stated).No reproduction, representation, disclosure, distribution, adaptation, translation or modification, whether partial or
  entire, nor transfer to another site, even for non-commercial purposes, and irrespective of the medium and/or
  process employed, may be made without prior written approval from E-Make.
  
  The data, or elements of it, presented on the Website may not be used for commercial purposes of any nature
  whatsoever without prior written approval from E-Make.
  Violation of any of the author's copyright constitutes forgery and will open the perpetrator to civil and criminal
  proceedings.

  Legal notice for E-Make websites
  As a document automated process and an invoice automation software company, E-Make publishes its websites to
  promote its brand image and its portfolio of software
</p>
