
<a href="#" class="image">
	<img [src]="images[0]" alt="" data-position="center center" />
</a>
<div class="content">
	<div class="inner">
		<header class="major">
			<h3>{{name}}</h3>
		</header>
		<p>Nullam et orci eu lorem consequat tincidunt vivamus et sagittis magna sed nunc rhoncus condimentum sem. In efficitur ligula tate urna. Maecenas massa sed magna lacinia magna pellentesque lorem ipsum dolor. Nullam et orci eu lorem consequat tincidunt. Vivamus et sagittis tempus.</p>
		<ul class="actions">
			<li><a href="#" class="button">Learn more</a></li>
		</ul>
	</div>
</div>
