<div class="is-preload">
	<!-- Wrapper -->
	<header id="header" [ngClass]="headerClasses | async" [ngStyle]="headerStyles | async">
		<a [routerLink]="['/']" class="logo"><strong>E-Make</strong> <span>by Azkali</span></a>
		<nav>
			<button
			(click)="openCartModal()" id="cart-icon" [ngClass]="{pulse: cartFlash, 'no-border': true}"><span class="icon alt fa-shopping-cart"
			title="Cart"></span> {{(cartInfos | async).totalSum | currency:'€':'symbol':'1.2-2'}} ({{(cartInfos | async).totalCount}})</button>
			<button (click)="openMenuModal()" class="no-border no-hover" id="menu-button">Menu</button>
		</nav>
	</header>
	<div id="wrapper" [ngClass]="{blurred: modalService.backgroundBlurred | async, blurrable: true}">
		<!-- Header -->
		<router-outlet></router-outlet>
	</div>
	<div id="modal"
	[@changeStateOpacity]="state"
	[@changeStateDisplay]="state"
	(@changeStateOpacity.done)="modalAnimDone($event)"></div>
</div>
<app-cookie-consent></app-cookie-consent>
