<div class="modal-container">

	<div class="modal-header">
		<h4 class="modal-title">Your Cart</h4>
	</div>

	<div class="modal-text">
		<div class="table-wrapper">
			<table>
				<thead>
					<tr>
						<th>Name</th>
						<th>Count</th>
						<th>Unit price</th>
						<th>Total price</th>
					</tr>
				</thead>
				<tbody>
					<ng-container *ngFor="let cartItem of (cartInfos | async).items; trackBy: trackCartItem">
						<tr [ngClass]="{'product-row': cartItem.item.productUid, 'attribute-row': cartItem.item.attributeUid}">
							<td *ngIf="cartItem.item.product || cartItem.item.attribute; else brokenRef">{{(cartItem.item.product ||
								cartItem.item.attribute)?.name}}</td>
							<td><input [(ngModel)]="cartItem.count" type="number" min="1" (change)="setCartItemCount(cartItem, cartItem.count)" /></td>
							<td>{{cartItem.unitPrice | currency:'€':'symbol':'1.2-2'}}</td>
							<td>{{cartItem.count * cartItem.unitPrice | currency:'€':'symbol':'1.2-2'}}</td>
							<td><button class="button" title="Remove this item" (click)="deleteCartItem(cartItem)"><i class="icon fa-times"></i></button></td>
						</tr>
						<ng-container *ngIf="cartItem.item.productUid">
							<tr *ngFor="let attribute of cartItem.item.attributes | keyvalue" class="sub-attr-row">
								<td>{{attribute.key}}</td>
								<td *ngIf="attribute.value; else brokenRef">{{attribute.value?.name}}</td>
								<td>{{ attribute.value?.price | currency:'€':'symbol':'1.2-2'}}</td>
								<td></td>
								<td></td>
							</tr>
						</ng-container>
					</ng-container>
				</tbody>
				<tfoot>
					<tr>
						<td colspan="3"></td>
						<td>{{(cartInfos | async).totalSum | currency:'€':'symbol':'1.2-2'}}</td>
					</tr>
				</tfoot>
			</table>
		</div>
	</div>
	<div class="modal-footer">
		<div class="modal-close">
			<button type="button" class="btn btn-outline-dark" (click)="close()">Close</button>
		</div>
		<div class="modal-add">
			<button type="button" class="btn btn-outline-dark" (click)="close()">Buy</button>
		</div>
	</div>
</div>

<ng-template #brokenRef>
	<td><i class="icon fa-times"></i> Broken reference...</td>
</ng-template>
