<div class="sample-container">
	<h4 class="modal-title">Your Cart</h4>
	
	<div class="sample-text">
		
		<div class="table-wrapper">
			<table>
				<thead>
					<tr>
						<th>Name</th>
						<th>Description</th>
						<th>Price</th>
						<th>Another One</th>
					</tr>
				</thead>
				<tbody>
					<tr [ngClass]="{pulse: cartFlash}" *ngFor="let item of (cartInfos | async).items">
						<th>{{item.item.product.name}}</th>
						<th>{{item.unitPrice}}</th>
						<th>{{item.count}}</th>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<td colspan="2"></td>
						<td [ngClass]="{pulse: cartFlash}" >{{(cartInfos | async).totalSum | currency:'€':'symbol':'1.2-2'}}</td>
					</tr>
				</tfoot>
			</table>
		</div>
	</div>
	<div class="sample-close">
		<button type="button" class="btn btn-outline-dark" (click)="close()">Close</button>
	</div>
</div>